root = true

[*]
charset = utf-8

insert_final_newline = true
trim_trailing_whitespace = true

indent_style = space
indent_size = 4

[*.mod]
indent_style = tab

[{Makefile,*.mk}]
indent_style = tab

[*.go]
indent_style = tab

[*.proto]
indent_size = 2

[*.tmpl]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.json]
indent_size = 2